@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1f2937;
  --border-color: #e5e7eb;
}

.dark {
  --background: #1f2937;
  --foreground: #ffffff;
  --border-color: #a0a5ad;
  --tw-ring-offset-color: var(--background);
  --tw-ring-offset-shadow: var(--background);
}

/* body {
  background-color: var(--background);
  color: var(--foreground);
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dark button, .dark a {
  color: var(--foreground);
  background-color: var(--background);
  border-color: var(--border-color);
}